@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;1,9..40,400;1,9..40,900&family=DM+Serif+Display:ital@0;1&display=swap");
.container {
  @apply max-w-[1440px] w-full 2xl:px-0  mx-auto;
}
.small-container {
  @apply max-w-[1090px] w-full mx-auto;
}
.btn {
  position: relative;
  border-radius: 30px;
  background: linear-gradient(90deg, #27392a 50%, white 50%);
  background-size: 200% 100%;
  color: #fff;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%;
  transition: background-position 0.7s, color 0.7s, border 0.7s;
}

.btn:hover {
  color: #27392a;
  border: 1px solid black;
  background-position: 100% 0;
}
/* video section grid layout */
.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  
}

h1,
h2,
h6 {
  font-family: DM Serif Display;
}
h1 {
  @apply text-[#27392a] 2xl:text-[60px] xlg:text-[50px] text-[45px] font-normal leading-[116%];
}
/* h2 {
  color: #27392a;
  font-family: DM Serif Display;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; 
} */
h2{
 @apply text-[#27392a] text-[30px] md:text-[40px] xlg:text-[50px] font-normal leading-[120%]
}
h4 {
  color: #27392a;
  font-family: DM Serif Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 141.667%;
}
h5 {
  color: #000;
  font-family: DM Serif Display;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 127.778%; /* */
}

h6 {
  @apply text-[#27392a] text-[24px]  font-normal leading-[141%];
}
a,
p {
  /* color: #27392a; */
  font-family: DM Sans;
  /* font-size: 18px; */
  /* font-style: normal; */
  /* font-weight: 400; */
  /* line-height: 155.556%;  */
}
a,
p {
  @apply text-[#27392a] text-[16px] xlg:text-[18px] font-normal leading-[155%];
}
small {
  color: #27392a;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
}
